<!-- Favicon resources -->
<link rel="icon" type="image/png" sizes="192x192" href="{{ "favicon/android-chrome-192x192.png" | absURL }}"> <!-- Android 192x192 format -->
<link rel="icon" type="image/png" sizes="512x512" href="{{ "favicon/android-chrome-512x512.png" | absURL }}"> <!-- Android 512x512 format -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ "favicon/apple-touch-icon.png" | absURL }}"> <!-- Apple format icon -->
<link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon/favicon-16x16.png" | absURL }}"> <!-- 16x16 PNG format -->
<link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon/favicon-32x32.png" | absURL }}"> <!-- 32x32 PNG format -->
<link rel="icon" type="image/x-icon" href="{{ "favicon/favicon.ico" | absURL }}"> <!-- ICO format -->
<link rel="icon" type="image/svg+xml" href="{{ "favicon/favicon.svg" | absURL }}"> <!-- SVG format -->
