{{ define "main" }}

<!-- Feature post: Prioritize posts with the "feature" tag, fallback to the latest post -->

{{- $featuredPost := (where (where .Site.RegularPages "Type" "posts") "Params.tags" "intersect" (slice "featured") | first 1) -}}
{{- if not $featuredPost -}}
  {{- $featuredPost = (first 1 (where .Site.RegularPages "Type" "posts").ByDate.Reverse) -}}
{{- end -}}

{{- range $featuredPost -}}
<section class="block md:flex relative group p-6 lg:p-10 space-y-6 md:space-x-6 my-14 bg-zinc-100 rounded-3xl hover:bg-sky-100 dark:bg-zinc-800 dark:hover:bg-zinc-700">
  <figure class="basis-1/2 w-full aspect-video overflow-hidden rounded-2xl border dark:border-zinc-700">

    {{- if .Params.images }}
      {{- $firstImage := index .Params.images 0 }}

      {{- if (or (strings.HasPrefix $firstImage "http") (strings.HasPrefix $firstImage "//")) }}

        {{- if .Site.Params.cdnImage }}

          <img class="object-cover group-hover:scale-105 transition duration-500 cursor-pointer dark:dark-img" 
               src="{{ $firstImage }}?width=720&height=405&fit=cover" 
               alt="{{ $.Name }}" 
               width="720"
               height="405">

        {{- else }}

          <img class="object-cover group-hover:scale-105 transition duration-500 cursor-pointer dark:dark-img" 
               src="{{ $firstImage }}" 
               alt="{{ $.Name }}">

        {{- end }}

      {{- else }}

        {{- with $imgfeature := resources.Get $firstImage }}
          {{ $imgfeature := $imgfeature.Resize "720x Q85" -}}
          <img class="object-cover group-hover:scale-105 transition duration-500 cursor-pointer dark:dark-img"
               src="{{ $imgfeature.Permalink }}"
               alt="{{ $.Name }}"
               width="{{ $imgfeature.Width }}"
               height="{{ $imgfeature.Height }}">
        {{- end }}

      {{- end }}

    {{- end }}

  </figure>
  <div class="basis-1/2 self-center">
    <h2 class="text-2xl md:text-3xl lg:text-5xl font-hero mb-4 dark:text-white"><a class="before:content-[''] before:z-10 before:top-0 before:right-0 before:left-0 before:bottom-0 before:absolute before:pointer-events-auto" href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <time datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}"><span class="font-bold dark:text-zinc-300">{{ .Date.Format "Jan 02, 2006" }}</span></time>
  </div>
</section>
{{ end -}}

<!-- / End feature post -->

<!-- Category Post -->

<section class="mb-16">

    {{ $cat := .Site.Params.FeaturedCategory }}

    <div class="flex items-center mb-6">

      <h2 class="text-3xl md:text-4xl font-bold mr-auto dark:text-white">{{ $cat | humanize }}</h2>

      <a class="border rounded-full py-2 px-4 md:px-6 hover:bg-sky-100 dark:hover:bg-zinc-700 dark:text-white" href="{{ printf "/categories/%s" $cat | absURL }}">View All</a>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-x-6 gap-y-10">

    {{ range where (where .Site.RegularPages "Type" "posts") "Params.categories" "intersect" (slice $cat ) | first 3 }}

      {{- partial "content/card" . -}}

    {{ end }}

    </div>

  </section>

<!-- / End category post --> 
<hr class="my-8 dark:border-zinc-700">
<!-- Start recent posts  -->

  <section class="mb-16">

    <div class="flex items-center mb-6">

      <h2 class="text-3xl md:text-4xl font-bold mr-auto dark:text-white">Recent Posts</h2>

      <a class="border rounded-full py-2 px-4 md:px-6 hover:bg-sky-100 dark:hover:bg-zinc-700 dark:text-white" href="{{ "/posts" | absURL }}">View All</a>

    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-x-6 gap-y-10">

    {{ $paginator := .Paginate ( where (where site.RegularPages "Type" "posts") "Type" "in" site.Params.mainSections) }}

    {{ range $paginator.Pages }}

      {{- partial "content/card" . -}}

    {{ end }}

    </div>

    <!-- Paginate here -->

    <div class="flex items-center mt-10">
      {{- if $paginator.HasPrev -}}
        <a class="border rounded-full px-6 py-2 hover:bg-zinc-200 dark:hover:bg-zinc-700 dark:text-white mr-auto" href="{{ $paginator.Prev.URL }}">← Previous</a>
      {{- end -}}

      {{- if $paginator.HasNext -}}
        <a class="border rounded-full px-6 py-2 hover:bg-zinc-200 dark:hover:bg-zinc-700 dark:text-white" href="{{ $paginator.Next.URL }}">Next →</a>
      {{- end -}}
    </div>

  </section>

<!-- / End recent posts  -->

  {{- partial "content/newsletter.html" . -}}

{{ end }}
