@font-face {
  font-family: 'Sora';
  src: url('/fonts/sora.woff2') format('woff2');
  font-weight: 400 800; /* Restrict to 400, 500, 700, 800 */
  font-style: normal;
}

@font-face {
  font-family: 'Literata';
  src: url('/fonts/literata-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Literata';
  src: url('/fonts/literata-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Literata';
  src: url('/fonts/literata-semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('/fonts/source-code-pro.woff2') format('woff2');
  font-weight: 400; /* Restrict to 400 for body text */
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('/fonts/source-code-pro-italic.woff2') format('woff2');
  font-weight: 400; /* Restrict to 400 for italic body text */
  font-style: italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #content {
    @apply font-literata font-body;
    hyphens: auto;

    a, pre, code {
      hyphens: none;
    }
  }

  body {
	  @apply font-sora font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-sora font-heading;
  }

  #taxonomy {
    @apply font-sora font-ui;
  }

  pre, code {
    @apply font-source font-mono;
  }

  .amazon-card {
    @apply font-sora font-ui;
  }

  p, li, figcaption, th, td {
    .small-caps {
      font-variant-caps: all-small-caps;
      letter-spacing: 0.025em;
    }
  }

  pre, code {
    .small-caps {
      font-variant-caps: normal;
    }
  }

  @media (max-width: 640px) {
    #content {
      font-size: 1.1rem; /* Increase font size for smaller screens */
      line-height: 1.7; /* Increase line height for smaller screens */
    }
  }
}

@layer components {

	.insert-link {
		@apply before:absolute before:content-[''] before:z-10 before:top-0 before:right-0 before:left-0 before:bottom-0 before:pointer-events-auto
	}
}

@layer utilities {

	.close {
		display: none;
	}

	.open {
		display: block;
	}

	details[open] summary svg {
		transform: rotate(180deg);
		transition: transform 0.3s ease;
	}
	
	details:has([open]) summary svg {
		transform: rotate(180deg);
		transition: transform 0.3s ease;
	}
	
	summary svg {
		transition: transform 0.3s ease;
	}
	
	details[open] summary svg {
		transform: rotate(180deg);
		transition: transform 0.3s ease;
	}
	
	summary svg {
		transition: transform 0.3s ease;
	}  

  .uppercase {
    @apply tracking-uppercase; /* Apply custom letter-spacing */
  }

  .dark-img {
    @apply brightness-80 contrast-90; /* Tweak images for dark mode */
  }
}