<div class="max-w-7xl mx-auto px-4 md:px-6 lg:px-8">

  <div class="flex flex-wrap space-y-6 mb-4">

    <div class="w-full md:w-3/5 flex flex-col space-y-4 md:pr-8 lg:pr-10">

      <a class="flex items-center group" href="{{ .Site.BaseURL }}">
        <img class="mr-2" src="/favicon/favicon.svg" alt="{{ .Site.Title }} Favicon">
        <img src="/images/logo.svg" alt="{{ .Site.Title }} logo">
      </a>

      <p class="font-semibold">
        {{ .Site.Params.FooterLine }}
      </p>

      <p>{{ .Site.Params.FooterDescription }}</p>

    </div>

    <div class="self-center flex flex-col w-full md:w-2/5">

{{ partial "content/social-media.html" . }}

    </div>
    
  </div>

  <div class="my-8">
    <ul class="flex items-center space-x-4">
      {{ range .Site.Menus.main }}
        <li><a class="decoration-auto hover:underline font-semibold" href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </div>

  <div class="border-t pt-4">

    <p class="text-sm">Copyright © {{ now.Year }} <a href="{{ .Site.BaseURL }}" target="_blank" rel="noopener">{{ .Site.Title }}</a>. All rights reserved.</p>

  </div>
  
</div>
{{ partial "cookie-banner.html" . }}