<div class="max-w-7xl mx-auto px-4 md:px-6 lg:px-8 text-zinc-800 dark:text-zinc-200">

  <div class="flex flex-wrap space-y-6 mb-4">

    <div class="w-full md:w-3/5 flex flex-col space-y-4 md:pr-8 lg:pr-10">

      <a class="flex items-center group" href="{{ .Site.BaseURL }}">
        <picture>
          <source srcset="/images/favicon_dark.svg" media="(prefers-color-scheme: dark)">
          <source srcset="/images/favicon_light.svg" media="(prefers-color-scheme: light)">
          <img class="mr-2" src="/images/favicon_light.svg" alt="{{ .Site.Title }} Favicon" width="32" height="32">
        </picture>
        <picture>
          <source srcset="/images/logo_dark.svg" media="(prefers-color-scheme: dark)">
          <source srcset="/images/logo_light.svg" media="(prefers-color-scheme: light)">
          <img src="/images/logo_light.svg" alt="{{ .Site.Title }} logo" width="170" height="25">
        </picture>
      </a>

      <p class="font-semibold">
        {{ .Site.Params.FooterLine }}
      </p>

      <p>{{ .Site.Params.FooterDescription }}</p>

    </div>

    <div class="self-center flex flex-col w-full md:w-2/5">

{{ partial "content/social-media.html" . }}

    </div>
    
  </div>

  <div class="my-8">
    <ul class="flex items-center space-x-4">
      {{ range .Site.Menus.main }}
        <li><a class="decoration-auto hover:underline font-semibold" href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </div>

  <div class="border-t pt-4 border-zinc-300 dark:border-zinc-700">

    <p class="text-sm">Copyright © {{ now.Year }} <a href="{{ .Site.BaseURL }}" target="_blank" rel="noopener">{{ .Site.Title }}</a>. All rights reserved.</p>

  </div>
  
</div>
{{ partial "cookie-banner.html" . }}