{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  <nav id="menu-bar" class="block mt-3 close">
    <ul class="flex items-center flex flex-nowrap whitespace-nowrap overflow-x-auto space-x-4">
      {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
    </ul>
  </nav>
{{- end }}

{{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- $attrs = merge $attrs (dict "class" "rounded-full px-6 py-2 bg-zinc-100 dark:bg-zinc-800 hover:bg-zinc-200 dark:hover:bg-zinc-700") }}
    
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" (printf "%s %s %s" $attrs.class "border-zinc-400" "dark:border-zinc-500")) }}
      {{- /* Add the "aria-current" attribute */}}
      {{- $attrs = merge $attrs (dict "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- /* Add the "ancestor" class if the link is an ancestor of the current page */}}
      {{- $attrs = merge $attrs (dict "class" "ancestor") }}
      {{- /* Add the "aria-current" attribute */}}
      {{- $attrs = merge $attrs (dict "aria-current" "true") }}
    {{- end }}
    <li class="my-2">
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{ or (T .Identifier) .Name | safeHTML }}</a>
      {{- with .Children }}
        <ul>
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      {{- end }}
    </li>
  {{- end }}
{{- end }}
